.pfp{
    background-image: url("pfp.png");
    background-size: cover;
    width: 250px;
    height: 300px;
    border-radius: 8px;
    margin-left: 8px;
    box-shadow: 15px 10px 10px rgb(51, 6, 6);
}
body{
    background-image: url("image1.png");
    background-size: cover;
    height: 100vh;
    width: 100vh;
}
.info{
    display: inline-block;
}
.p1{ margin-left: 300px;
    font-size: 25px;
    width: 700px;
    text-align: justify;
    color: rgb(213, 27, 10)
}
.p2{ 
    font-size: 25px;
    width: 700px;
    color: rgb(213, 27, 10)
}
/* *{
    color: rgb(213, 27, 10)
} */
.p2 img{
    height: 25px;
    width: 25px;
    color: white;
}


.list{
    display: flex;;
    font-size: 25px;
    width: 80%;
    height: 60px;
    justify-content: space-between;
    color: aqua;
    text-decoration: none;
    margin-left: 100%;
    
    /* backdrop-filter: blur(5px); */
}
.list :hover{
    font-size: 28px;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #f5feff, 0 0 20px #cef6f6, 0 0 30px #9ce6eb, 0 0 40px #5dece5, 0 0 50px #2cdde3, 0 0 60px #14e7f6, 0 0 70px #00f7ff;
    }
    to {
        text-shadow: 0 0 20px #f5feff, 0 0 30px #cef6f6, 0 0 40px #9ce6eb, 0 0 50px #5dece5, 0 0 60px #2cdde3, 0 0 70px #14e7f6, 0 0 80px #00f7ff;
    }
  }
  a{
    color: rgba(0, 255, 255, 0.81);
    background-color: transparent;
    text-decoration: none;
  }
.list{
    border-bottom: 2px solid red ;
}
.navbar{
    margin-bottom: 30px;
}